---
import "../styles/scss/style.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  isHomePage?: boolean;
}

// FIXME: improve description content
const {
  title = "Manage | Makes team planning easier.",
  description = "Manage | Makes team planning easier ... ... ...",
  isHomePage = false,
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <title>{title}</title>

    <!-- FIXME: Improve meta tags title and description. -->
    <!-- Primary Meta Tags -->
    <meta name="author" content="Fortune O. Iyoha" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://manage.pages.dev/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://manage.pages.dev/manage.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://manage.pages.dev/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content="https://manage.pages.dev/manage.jpg"
    />
    <!-- Meta Tags Generated with https://metatags.io -->
  </head>

  <body>
    <Header />
    <main id="main" class={isHomePage ? "main main-bg" : "main"}>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  @use "../styles/scss/abstracts/" as *;

  body.active {
    height: 100vh;
    overflow: hidden;
  }

  .main-bg {
    position: relative;

    &::before,
    &::after {
      --bg-dimension: 31.25rem; // 500px
      content: "";
      background: url(/images/bg-tablet-pattern.svg) no-repeat
        var(--bg-position-x, 0) var(--bg-position-y, 0);
      background-size: var(--bg-size, 100%);
      height: var(--bg-dimension);
      inset-block-start: var(--bg-offset-y, 0);
      inset-inline-start: var(--bg-offset-x, 0);
      position: absolute;
      width: var(--bg-dimension);
      z-index: -5;
    }

    &::before {
      --bg-dimension: 25rem; // 400px
      --bg-offset-x: 18%;
      --bg-offset-y: -6%;

      @media (min-width: 27.5em) {
        --bg-dimension: 30rem; // 480px
        --bg-offset-x: 30%;
      }

      @include breakpoint-up(sm) {
        --bg-dimension: 35rem; // 560px
        --bg-offset-x: 24%;
      }

      @media (min-width: 40em) {
        --bg-offset-x: 42%;
      }

      @include breakpoint-up(md) {
        --bg-dimension: 45rem; // 720px
        --bg-offset-x: -20%;
        --bg-offset-y: 55%;
      }
    }

    &::after {
      --bg-dimension: 20rem; // 320px
      --bg-offset-x: 60%;
      --bg-offset-y: 13%;

      @media (min-width: 27.5em) {
        --bg-dimension: 25rem; //400px
      }

      @include breakpoint-up(sm) {
        --bg-dimension: 30rem; // 560px
        --bg-offset-x: 70%;
      }

      @media (min-width: 40em) {
        --bg-offset-x: 70%;
      }

      @include breakpoint-up(md) {
        --bg-dimension: 45rem; // 720px
        --bg-offset-x: 58%;
        --bg-offset-y: -16%;
      }
    }
  }
</style>
